<div class="message <%= user_is_message_author ? "current_user" : "other_user" %>">
  <p class="user-name"><%= message.user.full_name %> :</p>
  <div class= "message-text"><%= message.message %></div>
</div>

<!--
  <%# if message.user.profile.profile_photo.attachment %>
    <%#= image_tag message.user.profile.profile_photo, height: '45px', width: '45px', crop: "scale", gravity: "faces", format: "png" %>
  <%# else %>
    <%#= image_tag (cl_image_path 'default_instrument_image'), height: '45px', width: '45px', crop: "scale", gravity: "faces", format: "png" %>
  <%# end %>
-->
