// Define variables for your color scheme

// Default colors
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

//Custom Colors
$rustic-sparkling-yellow: #FFEC4B;
$rustic-sparkling-orange: #FF7229;

$strong-red: #FF414C;
$strong-blue: #3A4357;
$strong-purple: #DE667C;

//MuWe colors
$muwe-white: #FFF7F2;
$muwe-green: #6BB382;
$muwe-dark-green: #6BA684;
$muwe-black: #1F1C23;
$muwe-gray: #DFE0DF;
$muwe-dark-gray: #B6B8B6;
