// Define variables for your color scheme

// Default colors
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Grays
$gray-100: #F7FAFC;
$gray-200: #EDF2F7;
$gray-300: #E2E8F0;
$gray-400: #CBD5E0;
$gray-500: #A0AEC0;
$gray-600: #718096;
$gray-700: #4A5568;
$gray-800: #2D3748;
$gray-900: #1A202C;

//Custom Colors
$rustic-sparkling-yellow: #FFEC4B;
$rustic-sparkling-orange: #FF7229;

$strong-red: #FF414C;
$strong-blue: #3A4357;
$strong-purple: #DE667C;

//MuWe colors
$muwe-white: #FFF7F2;
$muwe-blue: #44AEE6;
$muwe-green: #6BB382;
$muwe-dark-green: #6BA684;
$muwe-black: #1F1C23;
$muwe-gray: #DFE0DF;
$muwe-dark-gray: #B6B8B6;
$muwe-brownish-white: #F3ECE8;

$dark-purple: #6b2a9e;
$light-purple: #B16DE7;
$light-blue: #AEE7FE;