// Define variables for your color scheme

// Default colors
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

//Custom Colors
$floral-dark-green: #495834;
$floral-light-green: #BFCEC1;
$floral-dark-yellow: #CA8A35;

$rustic-sparkling-yellow: #FFEC4B;
$rustic-sparkling-orange: #FF7229;
$rustic-light-green: #69D250;
$rustic-middle-green: #468667;
$rustic-dark-green: #41445b; //it's not green but it mixes well with the 2 colors above
$rustic-light-purple: #7B5762;
$rustic-dark-purple: #492A3D;
$rustic-white: #FFF5FB;

$strong-red: #FF414C;
$strong-blue: #3A4357;
$strong-white: #FFFFFF;
