
      <div class="muwe-shadow box mb-4">
        <div class="post-edit">
          <h5>What are you up to ?</h5>
          <form action="">
            <div>
              <textarea name="" id="" class="form-control" cols="30" rows="1" placeholder="Post your content"></textarea>
            </div>
            <div class="mt-2">
              <button class="btn btn-primary">Submit</button>
            </div>
          </form>
        </div>
      </div>


      <div class="post box muwe-shadow mb-3">
        <h2 class="title">Lorem ipsum dolor sit.</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem ipsa assumenda fugiat quasi aspernatur quia possimus dignissimos incidunt. Beatae et nostrum reiciendis voluptates. Saepe, tempora facere at facilis maxime error.</p>
        <div class="social-container">
          <span>Share on</span>
          <button><i class="fab fa-facebook"></i></button>
          <button><i class="fab fa-twitter"></i></button>
          <button><i class="fab fa-instagram"></i></button>
          <button><i class="fab fa-linkedin"></i></button>
        </div>
      </div>
      <div class="post box muwe-shadow mb-3">
        <h2 class="title">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem ipsa assumenda fugiat quasi aspernatur quia possimus dignissimos incidunt. Beatae et nostrum reiciendis voluptates. Saepe, tempora facere at facilis maxime error.</p>
        <div class="social-container">
          <span>Share on</span>
          <button><i class="fab fa-facebook"></i></button>
          <button><i class="fab fa-twitter"></i></button>
          <button><i class="fab fa-instagram"></i></button>
          <button><i class="fab fa-linkedin"></i></button>
        </div>
      </div>