.dashboard {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  h2 {
    color: $muwe-white;
  }
}

.dashboard-section {
  position: relative;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

// ^^^ Distribute cards

.my-event, .participating-to-event {
  display: flex;
  flex-direction: row;
  height: 380px;
  margin: 10px;
  background-color: $muwe-white;
  border-radius: 4px;
  box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.25), -2px -2px 10px 0px rgba(0,0,0,0.25);
}

.dashboard-event-image {
  overflow: hidden;
  width: 45%;
  border-radius: 4px 0 0 4px;
  a, img {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    object-fit: cover;
  }
}

.dashboard-participants {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 55%;
  margin: 10px;
}

// Managing distribution of sections inside cards

.dashboard-event-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    white-space: pre // white-space
  }
  hr {
    width: 40%;
  }
}

.postulating-users {
  min-height: 230px;
  width: 100%;
  overflow:hidden;
  overflow-y:scroll;
  padding: 5px;
  .action-button {
    color: $muwe-black;
    padding: 4px 6px;
    border-radius: 4px;
    background-color: $light-purple;
    transition: 0.3s;
    border: 2px solid rgba(177,109,231,0.36);
    &:hover {
      border: 2px solid rgba(43,26,56,0.36);
      transition: 0.2s;
    }
  }
}

.archive-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  hr {
    width: 60%;
  }
}

// \/ My participations

.current-user-participant {
  display: flex;
  flex-direction: column;
  align-items: center;
  p {
    text-align: center;
  }
}


.dashboard-my-participations {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 55%;
  margin: 10px;
}

.participations-action-button {
  margin-top: 20px;
  color: $muwe-black;
  padding: 4px 6px;
  border-radius: 4px;
  background-color: $light-purple;
  transition: 0.3s;
  border: 2px solid rgba(177,109,231,0.36);
  &:hover {
    border: 2px solid rgba(43,26,56,0.36);
    transition: 0.2s;
  }
}

.fa-trash {
  color: $red;
}

.host {
  display: flex;
  flex-direction: column;
  align-items: center;
  a {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
