input {
    border: none;
    border-bottom: 1px solid #000000;
    padding: 2px 5px;
}


.date-time .add-photo .start-time .end-time .music_styles .music-players {
  flex: 1;
}

.no-border {
  border-radius: 0px !important;
  border: 0;
  border-bottom: solid 1px;
  background-color: #DFE0DF !important;
}

.select2 {
  width: 100% !important;
  border-radius: 0px !important;
  border: 0;
  border-bottom: solid 1px;
  background-color: #DFE0DF !important;
}
