button:focus {
  outline: none;
}

input:focus {
  outline: none;
}

.navbar-container {
  width: 100%;
  z-index: 10;

  &.fixed {
    position: fixed;
    box-shadow: 0 4px 10px 4px rgba(0, 0, 0, 0.15);

    +.content-container {
      padding-top: 80px;
    }
  }
}

.content-container {
  display: flex;
  flex: 1;
  flex-direction: column;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 500px;
    // background-color: $gray-800;
    background-image: linear-gradient(175deg, $gray-800 45%, $dark-purple 80%, $light-purple);
    transform: skewY(-7deg);
  }
}

.btn-create-event,
.btn-filter {
  // padding: 5px 20px;
  // color: $gray-100;
  // font-family: $headers-font;
  // font-weight: bold;
  // text-transform: uppercase;
  position: absolute;
  top: 10px;
  left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  color: $gray-600;
  font-size: 24px;
  background-color: rgba($gray-100, .8);
  border-radius: 50%;
  box-shadow: 0px 1px 3px 0px rgba($black, .3);
  transition: .2s;
  z-index: 9999999;

  &:hover {
    color: $gray-800;
    background-color: rgba($gray-200, .8);
  }
}

.btn-filter {
  position: absolute;
  left: 20px;
  top: 80px;
  font-size: 20px;
  border: 0;
}

.filter-wrapper {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 240px;
  height: 500px;
  background-color: transparent;
  transform: translateX(-240px);
  z-index: 999999999;
  transition: .4s;

  &.open {
    background-color: #fff;
    transform: translateX(0);
  }

  .btn-filter-close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
  }
}

.new-event-wrapper {
  display: flex;
  display: none;
  flex-direction: column;
  min-height: 100vh;
}

.new-event-box {
  display: flex;
  align-items: center;
  padding: 0 20px;
  height: 80px;
  background-color: rgba($gray-200, 0.7);
  margin-bottom: 20px;
}

.map-wrapper {
  position: relative;
  flex: 1;
}

#map {
  // height: 52vh;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  // background-color: #5DD1EE;
  // border-radius: 0 0 15px 15px;

  .organize-jam-button {
    text-decoration: none;
    color: $muwe-white;
    background-color: $muwe-green;
    padding: 6px 45px;
    border-radius: 5px;
    margin-bottom: 1.5vh;
    transition: 0.5s;
    font-size: 16px;

    &:hover {
      background-color: $muwe-dark-green;
      transition: 0.4s;
    }
  }
}

.map-actions {
  position: relative;
  width: 0;
}

.index-event-filter {
  display: flex;
  flex-direction: column;
  height: 7vh;
  min-height: 65px;
  border-bottom: 2px solid $muwe-dark-gray;
  margin-top: -1.5vh;
  box-shadow: 0px 1px 8px 1px rgba(0, 0, 0, 0.15);
  background-color: $muwe-white;

  .spacer {
    height: 30%;
  }

  .filters {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 60%;

    .filter {
      display: flex;
      justify-content: center;
      border-radius: 20px;
      background-color: $muwe-white;
      border: 2px solid $muwe-dark-gray;
      height: 75%;
      width: 7vw;
      min-width: 80px;
      color: $muwe-dark-gray;
      font-size: 18px;
      font-weight: bold;
      box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.15);
      transition: 0.5s;

      &:hover {
        color: $muwe-green;
        box-shadow: inset 0 0 4px $muwe-dark-green;
        transition: 0.4s;
      }
    }
  }
}

.swiper-cards-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba($gray-100, 0.8);
  z-index: 2;
}

.swiper-container {
  width: 100%;
  height: auto;
}

#events-wrapper {
  // position: absolute;
  display: none;
  bottom: 0;
  height: 230px;
  display: flex;
  align-items: center;
  padding: 0;
  // z-index: 28;
  // background-color: rgba($gray-200, .7);
}

.event-wrapper {
  margin: 0 10px;
  width: 260px !important;
  height: 200px;
  padding: 10px;
  font-family: $oswald;
  border-radius: 8px;
  background-color: $gray-100;

  .event-photo {
    position: relative;
    margin-bottom: 4px;
    width: 100%;
    height: 110px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 4px;
      box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.15);
    }

    .event-status {
      position: absolute;
      top: 6px;
      left: 6px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 2px 6px;
      width: auto;
      color: $gray-800;
      font-family: $headers-font;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      background-color: rgba($gray-200, 0.9);
      border-radius: 2px;

      i {
        font-size: 10px;
      }

      span {
        margin-left: 6px;
      }
    }
  }

  .event-infos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 6px;
    color: $gray-800;
    font-size: 0.9rem;

    .participants {
      margin: 0;
    }
  }

  .event-title {
    color: $muwe-green;
    font-size: 1.1rem;
    text-transform: uppercase;
  }

  .event-address {
    padding: 2px 0;
    color: $gray-700;
    font-weight: 400;
    font-size: 0.85rem;

    i {
      margin: 0;
    }
  }

  .event-time {
    color: $muwe-green;
    font-size: 0.8rem;
  }
}
