button:focus {
  outline: none;
}

input:focus {
  outline: none;
}

.create-event {
  // position: absolute;
  // top: 10px;
  // right: 100px;
  padding: 5px 20px;
  color: $gray-100;
  font-family: $headers-font;
  font-weight: bold;
  text-transform: uppercase;
  background-color: $muwe-green;
  border-radius: 15px;
  z-index: 9999999;
}

.new-event-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.new-event-box {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px 40px;
  height: 120px;
  background-color: rgba($gray-200, .7);
  z-index: 25;
}

.map-wrapper {
  position: relative;
  // height: 50vh;
  flex: 1;
}

#map {
  // height: 52vh;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  // background-color: #5DD1EE;
  // border-radius: 0 0 15px 15px;

  .organize-jam-button {
    text-decoration: none;
    color: $muwe-white;
    background-color: $muwe-green;
    padding: 6px 45px;
    border-radius: 5px;
    margin-bottom: 1.5vh;
    transition: 0.5s;
    font-size: 16px;

    &:hover {
      background-color: $muwe-dark-green;
      transition: 0.4s;
    }
  }
}

.index-event-filter {
  display: flex;
  flex-direction: column;
  height: 7vh;
  min-height: 65px;
  border-bottom: 2px solid $muwe-dark-gray;
  margin-top: -1.5vh;
  box-shadow: 0px 1px 8px 1px rgba(0,0,0,0.15);
  background-color: $muwe-white;

  .spacer {
    height: 30%;
  }

  .filters {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 60%;

    .filter {
      display: flex;
      justify-content: center;
      border-radius: 20px;
      background-color: $muwe-white;
      border: 2px solid $muwe-dark-gray;
      height: 75%;
      width: 7vw;
      min-width: 80px;
      color: $muwe-dark-gray;
      font-size: 18px;
      font-weight: bold;
      box-shadow: inset 0 0 3px rgba(0,0,0,0.15);
      transition: 0.5s;

      &:hover {
        color: $muwe-green;
        box-shadow: inset 0 0 4px $muwe-dark-green;
        transition: 0.4s;
      }
    }
  }
}
