.profile {
}

.profile-general {
    display: flex;
    padding: 20px;
    font-family: $oswald;

    .right {
        flex: 1;
        display: flex;
        flex-direction: column;
        padding-left: 30px;

        .profile-name {
            margin-bottom: 5px;
            font-size: 1.6rem;
            font-weight: 700;
        }

        .profile-city {
            color: $gray-600;
            font-size: .9rem;
            font-weight: 400;
        }
    }

}

.stats {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

    .number {
        color: $muwe-green;
        font-size: 1.3rem;
        font-weight: 700;
        text-align: center;
    }

    .comments div:nth-child(2),
    .followers div:nth-child(2),
    .following div:nth-child(2) {
        color: $gray-700;
    }
}

.profile-photo {
    margin-left: 20px;
    position: relative;

    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        width: 15px;
        height: 15px;
    }

    img {
        width: 160px;
        height: 160px;
        object-fit: cover;
        border-radius: 50%;

    }

}