<div class="modal fade" id="timeModal" tabindex="-1" role="dialog" aria-labelledby="timeModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="timeModalLabel">Time filter</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <%= simple_form_for :time_filter, url: root_path, method: :get, remote: true do |f| %>
            <%= f.input :start_time, collection: @times, autofocus: true, selected: "14:00" %>
            <%= f.input :end_time, collection: @times, selected: "15:00" %>
            <%= f.submit "Filter" %>
          <% end %>
      </div>
    </div>
  </div>
</div>
