<span class="btn-filter-close"><i class="fas fa-times-circle"></i></span>
  <%= simple_form_for :filter, url: search_path, method: :get, remote: true do |f| %>
    <%= f.input :city %>
    <%= f.submit %>
  <% end %>
