
<div id="map" data-markers="<%= @markers.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>

<div class="index-event-filter">
  <div class="spacer"></div>
  <div class="filters">
    <button class="filter">All</button>
    <button class="filter">Time</button>
    <button class="filter">City</button>
    <button class="filter">Status</button>
    <button class="filter">Trust</button>
  </div>
</div>

<div class="index-page-content">
</div>





<!--
<div class="events">
  <%# @events.each do |event| %>
    <%# unless event.finished? %>
      <div class="small-card" data-lng="<%#= event.longitude %>" data-lat="<%#= event.latitude %>">
        <%#= image_tag(("muwe-logo.svg"), class: "small-card-image") %>

        <div class="small-card-content">
          <div class="small-card-title-container">
            <h2 class="small-card-title"><%#= event.title %></h2>
          </div>
          <div class="small-card-address-container">
            <p class="small-card-address">Address : <%#= event.address %></p>
          </div>
          <div class="small-card-description-container">
            <p class="small-card-description"><%#= event.description %></p>
          </div>
          <div class="small-card-dates-container">
            <p class="small-card-start-date"><%#= event.start_date %></p>
            <p class="small-card-end-date"></p>
          </div>
        </div>
      </div>
    <%# end %>
  <%# end %>
</div>

<div id="map" data-markers="<%= @markers.to_json %>" data-mapbox-api-key="<%#= ENV['MAPBOX_API_KEY'] %>"></div>
-->
