<div class="events">
    <div class="card">
        <h2>Card 1</h2>
    </div>
    <div class="card">
        <h2>Card 2</h2>
    </div>
    <div class="card">
        <h2>Card 3</h2>
    </div>
</div>
<div id="map" data-markers="<%= @markers.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
