<div class="map-wrapper">
  <div id="map" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>

  <div class="swiper-cards-container">
    <div class="swiper-container">
      <div id="events-wrapper" class="swiper-wrapper">
        <%= render @events %>
      </div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
      <div class="swiper-scrollbar"></div>
    </div>
  </div>

  <div class="new-event-wrapper">
  </div>

  <div class="map-actions">
    <%= link_to new_event_path, class: 'btn-create-event', title: 'CREATE JAM' do %>
      <i class="fas fa-plus"></i>
    <% end %>

    <button class="btn-filter">
      <i class="fas fa-search"></i>
    </button>

    <div class="filter-wrapper">
      <!-- Filters -->
      <%= render 'filter_form' %>
    </div>
  </div>
</div>
