<div class="events">
    <div class="card">
        <h2>alsdkj</h2>
    </div>
    <div class="card">
        <h2>askdjasld</h2>
    </div>
    <div class="card">
        <h2>aslkjdsa</h2>
    </div>
</div>
<div id="map"></div>