<div class="dashboard">
  <div id="my-events" class="dashboard-section">
    <h2>My Events</h2>
    <% @events_created.each do |event| %>
      <%= render "my_event", event: event %>
    <% end %>
  </div>

  <div id="participating-to-events" class="dashboard-section">
    <h2>My Participations</h2>
    <% @events_participating.each do |event| %>
      <%= render "participating_event", event: event %>
    <% end %>
  </div>
</div>
