<div id="my_events">
  <% @events_created.each do |event| %>
    <%= render "my_event", event: event %>
  <% end %>
</div>

<div id="participating_to_events">
<% @events_participating.each do |event| %>
  <%= render "participating_event", event: event %>
<% end %>
</div>
