.btn-muwe,
.btn-primary {
  color: $white !important;
  background-color: $dark-purple;

  &:hover {
    color: $white;
    background-color: $light-purple;
  }
}

.btn-success {
  color: $muwe-white;
}