.i-events {
  display: flex;
  align-items: center;
  flex-direction: row;
  white-space: nowrap;
  overflow-x: scroll;
  height: 42.5vh;
}

.i-event {
  flex: 0 0 450px;
  display: flex;
  justify-content: center;
  height: 30vh;
  background-color: $muwe-brownish-white;
  border-radius: 6px;
  margin: 0 calc(1.3vw + 5px);
  box-shadow: 0.5px 2px 5px 2px rgba(0,0,0,0.15);
}

.event-image {
  object-fit: cover;
  border-radius: 5px 5px 2px 2px;
  height: 50%;
  width: 96%;
  margin-top: 8px;
}
