// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";
@import "config/mixins";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "mapbox-gl/dist/mapbox-gl";
@import "flatpickr/dist/flatpickr";
@import "select2/dist/css/select2.min";
@import "swiper/css/swiper.min";
@import "noty/src/noty";
@import "noty/src/themes/mint";

// Your CSS partials
@import "components/index";
@import "pages/index";

:root {
  font-size: 16px;
}

p {
  margin: 0;
}

body {
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  background-color: $gray-100;
  // background-image: linear-gradient(0deg, white 60%, #2d3747 60%);

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 200px;
    background-color: $gray-800;
  }
}

h1 {
  font-family: $oswald;
  font-weight: 700;
  font-size: 2.2rem;
  text-transform: uppercase;
  color: $muwe-green;
}

.content-container:not(.events-index) {
  margin-top: 40px;
  margin-bottom: 60px;
}

.content-wrapper {
  position: relative;
  padding: 20px;
  border-radius: 5px;
  background-image: linear-gradient(10deg, $dark-purple, $light-purple);

  &:before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    border-radius: 4px;
    background-color: #fff;
  }
}