// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";
@import "config/mixins";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

:root {
  font-size: 16px;
}

p {
  margin: 0;
}

body {
  min-height: 100vh;
  background-color: $muwe-gray;
  display: grid;
  grid-template-areas: 'navbar content';
  grid-template-columns: 110px auto;
}

main {
  overflow: hidden;
  grid-column-start: 2;
}

section {
  position: fixed;
  width: 110px;
}
